* {
    font-family: 'Nexa', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    height: 3rem;
    margin: 2em;
}

body {
    margin: 0;
    background: black;
}

h1 {
    color: white;
    margin-left: 1em;
}

section {
    display: flex;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 1em;
}

.film {
    display: inline-block;
    margin: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkred;
}

img {
    margin: 2em 2em -1em 2em;
    width: 10em;
    height: 15em;
}


.film svg {
    margin: 0rem 0rem 0rem -6rem;
    margin-top: -10em;
    fill: white;
    width: 4rem;
    height: 2rem;
    transition: ease-in-out 0.5s;
}

.save.active {
    fill: red;
    width: 5rem;
    height: 2rem;
    transition: ease-in-out 0.5s;
}

#heart {
    fill: white;
    width: 3rem;
    height: 3rem;
    float: right;
    transition: ease-in-out 0.5s;
}


